* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    min-height: 80px;
    background: #0db65c;
}

h1 {
    color: black;
    padding: 5px;
}

ul {list-style-type: none;}

#logo-container {
    width: 120px;
    height: 30.36px;
    padding-top: 12px;
}

#logo {
    background: none;
    margin: 10px 10px;
    width: 100%;
    height: auto;
}

.header-dropdown-container {
    display: block;
    width: 100px;
    line-height: 20px;
    justify-content: space-around;
    padding: 20px 5px 0 10px;
}

.header-dropdown {
    background: #0db65c;
    border: none;
    font-size: .75em;
    display: inline;
}

#header-dropdown-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    line-height: 80px;
}

.dropbtn {
    background-color: #0db65c;
    padding: 5px;
    border: none;
}
      
.dropdown {
    position: relative;
    display: inline-block;
    line-height: .5;
}
      
.dropdown-content {
    font-size: .75em;
    height:max-content;
    padding-top: 0px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
      
.dropdown-content a {
    color: black;
    font-weight: lighter;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    line-height: 2;
}
      
.dropdown-content a:hover {background-color: #ddd;}
      
.dropdown:hover .dropdown-content {display: block;}
      
.dropdown:hover .dropbtn {background-color: #3e8e41;}

main {
}

footer {
    height: 35px;
    background: #0db65c;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: smaller;
}

img {
    height: 50px;
}

#header-icon-group {
    line-height: 80px;
    margin: 0 10px;
    width: 120px;
    justify-content: space-between;
    padding-right: 5px;
}

.header-icon-container {
    padding-left: 10px;
}

.header-icons {
    font-size: 1.5em;
    background-color: #0db65c;
}

#content-container {
    background-color: white;
    padding: 0px 10px 10px 10px;
}

#content-top {
  display:flex;
}

#calendar {
    width: 33.3%;
}

.month {
    padding: 10px 2.5px;
    width: 100%;
    background: #0db65c;
    text-align: center;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  #weeks {
    width: 100%;
  }

  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 5px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  .days li .active {
    padding: 5px;
    background: #0db65c;
    color: white !important
  }

  #schedule-container {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: .5em;
    width: 66.6%;
    padding: 0px 10px 10px 10px;
  }

  .time-slot {
    color: #777;
    font-size: 12px;
    padding: .2em;
  }

  .job-slot {
    color: black;
    font-size: 12px;
    padding: .2em;
  }

  #slot-0730 {
    grid-area: 1 / 1 / 1 / 2;
  }

  #slot-0800 {
    grid-area: 2 / 1 / 2 / 2;

  }

  #slot-0830 {
    grid-area: 3 / 1 / 3 / 2;

  }

  #slot-0900 {
    grid-area: 4 / 1 / 4 / 2;

  }

  #slot-0930 {
    grid-area: 5 / 1 / 5 / 2;

  }

  #slot-1000 {
    grid-area: 6 / 1 / 6 / 2;

  }

  #slot-1030 {
    grid-area: 7 / 1 / 7 / 2;

  }

  #slot-1100 {
    grid-area: 8 / 1 / 8 / 2;

  }

  #slot-1130 {
    grid-area: 9 / 1 / 9 / 2;

  }

  #slot-1200 {
    grid-area: 10 / 1 / 10 / 2;

  }
  #slot-1230 {
    grid-area: 11 / 1 / 11 / 2;

  }

  #slot-1300 {
    grid-area: 12 / 1 / 12 / 2;

  }

  #slot-1330 {
    grid-area: 13 / 1 / 13 / 2;

  }

  #slot-1400 {
    grid-area: 14 / 1 / 14 / 2;

  }

  #slot-1430 {
    grid-area: 15 / 1 / 15 / 2;

  }

  #slot-1500 {
    grid-area: 16 / 1 / 16 / 2;

  }

  #job-1 {
    grid-area: 1 / 2 / 10 / 2;
    background-color:#0db65c;
  }

  #job-2 {
    grid-area: 11 / 2 / 17 / 2;
    background-color:#3e8e41;
  }

  #job-3 {
    grid-area: 1 / 3 / 10 / 3;
    background-color:lightgoldenrodyellow;
  }

  #job-4 {
    grid-area: 11 / 3 / 17 / 3;
    background-color:pink;
  }

  #job-5 {
    grid-area: 1 / 4 / 10 / 4;
    background-color:lightblue;
  }

  #job-6 {
    grid-area: 11 / 4 / 17 / 4;
    background-color:lightgreen;
  }

  #job-7 {
    grid-area: 1 / 5 / 10 / 5;
    background-color:grey;
  }

  #job-8 {
    grid-area: 11 / 5 / 17 / 5;
    background-color:lightgray;
  }

  #job-9 {
    grid-area: 1 / 6 / 10 / 6;
    background-color:violet;
  }

  #job-10 {
    grid-area: 11 / 6 / 17 / 6;
    background-color:lightcyan;
  }

  #job-11 {
    grid-area: 1 / 7 / 10 / 7;
    background-color:orange;
  }

  #job-12 {
    grid-area: 11 / 7 / 17 / 7;
    background-color:lightseagreen;
  }
  #job-13 {
    grid-area: 1 / 8 / 10 / 8;
    background-color:lightcoral;
  }

  #job-14 {
    grid-area: 11 / 8 / 17 / 8;
    background-color:lightslategray;
  }

  #job-15 {
    grid-area: 1 / 9 / 10 / 9;
    background-color:lightsteelblue;
  }

  #job-16 {
    grid-area: 11 / 9 / 17 / 9;
    background-color:lightyellow;
  }

  #job-17 {
    grid-area: 1 / 10 / 10 / 10;
    background-color:yellowgreen;
  }

  #job-18 {
    grid-area: 11 / 10 / 17 / 10;
    background-color:yellow;
  }

  .drop-down-body {
    color: black;
  }

  .label-body {
    color: black;
  }

  .time-body {
    color: black;
  }

  #job-start {
    color: black;
  }

